.table_content { 
   

   
}

.table_items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.2rem;
    padding: 1rem 3rem;
    margin-bottom: 2rem;
}

@media only screen and (max-width: 600px) {
    .items_content {
        width: 80%;
    }
}

