:root {
    --text: #58000f;
}

.parent {
    width: 70%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#cart {
    margin: 2em;
}

.cart_content {
    background-color: rgba(255, 255, 255, 0.548);
    width: 40vw;
    justify-self: center;
}

.cart_reco_body {
    padding: 1.5rem;
    overflow-x: hidden;
    overflow-y: auto;
    min-height: 50vh;
}

.cart_reco_content {
    background-color: rgba(255, 255, 255, 0.548);
    width: 20vw;
    justify-self: center;
}

.cart_head {
    padding: 1rem;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
}

.cart_body {
    overflow-x: hidden;
    overflow-y: auto;
    min-height: 50vh;
}

.cart_items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.2rem;
    padding: 1em;
    margin-bottom: 2rem;
}

.cart_items_info {
    h5 {
        font-weight: 600;
        margin-top: 0.1em;
    }
}

.cart_items_quantity {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.8rem;

    color: #fff;
    padding: 0.5rem 0;
}

.cart_items_delete {
    font-size: 2rem;
    line-height: 0.5;
    height: 5vh;
    text-align: center;
    cursor: pointer;
}

.cart_foot {
    background-color: rgba(255, 255, 255, 0.548);
    color: var(--text);

    height: 12%;

    width: 100%;
    justify-self: center;
    padding: 1rem;
    box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.5);

    h3 {
        b {
            margin-left: 0.6rem;
            font-size: 1.4rem;
        }
    }

    .checkout_btn {
        background-color: pink;
        color: var(--text);
        font-size: 1rem;
        padding: 0.4rem 0.8rem;

        &[disabled] {
            background-color: rgba(128, 128, 128, 0.281);
            cursor: not-allowed;
        }
    }
}

.x-button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 2%;
    width: 5%;
    height: 5%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9em;
}

@media only screen and (max-width: 825px) {
    .cart_content {
        width: 70vw;
    }
    .cart_foot {
        width: 70vw;
    }
    .cart_items_info {
        width: 50%;
    }

    .cart_reco_content {
        background-color: rgba(255, 255, 255, 0.548);
        width: 70vw;
        justify-self: center;
    }
    .parent {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}
