.qty-input-box {
    width: 4em;
    padding: 0px 5px;
    height: 3.6em;
    border-radius: 4px;
    text-align: center;
    margin: 0px 5px;
    color: #475f7b;
    background-color: #fff;
    border: 2px solid #dfe3e7;
    transition: 0.3s;
}

.prdct-qty-btn {
    width: 2.5em;
    height: 3.6em;
    border: none;
    border-radius: 4px;
    background-color: #5a8eee7a;
    transition: 0.3s;
}

.prdct-qty-btn-disabled {
    width: 2.5em;
    height: 3.6em;
    border: none;
    border-radius: 4px;
    background-color: rgba(128, 128, 128, 0.171);
    transition: 0.3s;
}

.prdct-qty-btn:hover {
    background-color: #5a8dee;
    color: #fff;
}

@media only screen and (max-width: 914px) {
    .qty-input-box {
        width: 2.5em;
    }

    .prdct-qty-btn {
        width: 1.875em;
    }
    .prdct-qty-btn-disabled {
        width: 1.875em;
    }
}
